/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.container {
  width: 100%;
  max-width:880px;
  /* TB LR */
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

nav {
  display: inherit;
  justify-content: space-between;
}

nav a {
  color: gray;
  text-decoration: none;
  padding: 0 30px;
}

nav a:hover {
  text-decoration: underline;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.cta-text {
  width: 50%;
  font-size: 77px;
  text-align: center;
  margin-top: 60px;
}

.cta-btn {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
  align-self: flex-end;
}

.cta-btn:hover {
  background: black;
  color: white;
}

.main-content,
.contact {
  border-top: 2px solid black;
}

.top-content,
.bottom-content {
  padding: 0 10px;
  margin: 70px 0;
  display: flex;
  justify-content: space-around;
}

.two-columns {
  width: 46%;
}

.middle-img {
  display: block;
  width: 100%;
}

.three-columns {
  width: 30%;
}

.contact {
  padding: 50px 0;
  line-height: 150%;
}
.details {
  padding: 0 30px;
}

footer {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .container {
    width: 94%;
  }
  header {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
  }
  nav {
    width: 100%;
    justify-content: center;
    margin: 25px auto;
  }
  nav a {
    margin: 0 auto;
  }
  .main-content,
  .contact {
    max-width: 99%;
    margin: 0 auto;
  }

  .cta {
    flex-direction: column;
  }
  .cta-text {
    width: 100%;
    margin: 0;
  }
  .cta img {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav a {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid gray;
  }

  .cta {
    margin: 50px 0;
  }
  .main-content,
  .contact {
    max-width: 95%;
    margin: 0 auto;
  }
  .top-content,
  .bottom-content {
    margin: 35px 0;
    flex-direction: column;
  }

  .two-columns,
  .three-columns {
    width: 100%;
    margin: 25px 0;
  }
  .details {
    padding: 0 10px;
  }
}
